@import "tailwindcss";

@layer base {
  html {
    color-scheme: light;
  }

  body {
    @apply bg-white text-slate-900;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.loan-input {
  @apply w-full mt-2 px-4 py-3 rounded-xl
  bg-white border border-slate-200
  focus:border-emerald-500 focus:ring-1 focus:ring-emerald-500
  outline-none text-slate-900 placeholder-slate-400;
}